.idea/*
/*build*/
./src/glfw_src/*
/src/GLFW/src/engine/vulkan/_template/
/src/GLFW/src/engine/vulkan/_template/TemplateTriangle.cpp
/src/GLFW/src/engine/vulkan/vkTests/obj/VulkanTriangleApplication2.h
/src/GLFW/src/engine/vulkan/vkTests/obj/VulkanTriangleApplication2.cpp
/src/GLFW/src/engine/vulkan/vkTests/c/vulkanTriangle2.cpp
./externals/*
/CMakeFiles/
/out/
