.idea/*
./cmake-build-debug/*
./src/glfw_src/*
./glad/*
./stb_image/*
./messengerOffline/*
/src/GLFW/src/engine/vulkan/_template/TemplateTriangle.cpp
/src/GLFW/src/engine/vulkan/vkTests/obj/VulkanTriangleApplication2.h
/src/GLFW/src/engine/vulkan/vkTests/obj/VulkanTriangleApplication2.cpp
/src/GLFW/src/engine/vulkan/vkTests/c/vulkanTriangle2.cpp
./externals/*
